In [1]:
d1={"name":"jay","age":3,"height":2.8}
print(d1.get("name"))

jay

In [2]:
d1={"name":"jay","age":3,"height":2.8}
d1[0]

KeyError: 0

In [3]:
d1={"name":"jay","age":3,"height":2.8}
d1["name"]

'jay'

In [4]:
d1={"name":"jay","age":3,"height":2.8}
d1["age"]

3

In [5]:
d1={"name":"jay","age":3,"height":2.8}
d1["height"]

2.8

In [6]:
d1["cell"]

KeyError: 'cell'

In [7]:
d1[0]

KeyError: 0

In [8]:
d1={"name":"jay","age":3,"height":2.8}
print(d1["height"])
print(d1.get("height"))

2.8
2.8

In [9]:
d1={"name":"jay","age":3,"height":2.8}
print(d1.get("cell"))
print(d1["cell"])

None

KeyError: 'cell'

In [10]:
d1={"name":"jay","age":3,"height":2.8}
print(d1.get("cell","0000000000"))
print(d1["cell"])

0000000000

KeyError: 'cell'

In [12]:
person={"name":"jay","age":3,"height":2.8}
address = {"country":"INDIA","state":"Telanagana","city":"Hyderabad"}
print(person.get("country"))

None

In [13]:
person={"name":"jay","age":3,"height":2.8}
address = {"country":"INDIA","state":"Telanagana","city":"Hyderabad"}
res = person.update(address)
print(res)
print(person)
print(address)

None
{'name': 'jay', 'age': 3, 'height': 2.8, 'country': 'INDIA', 'state': 'Telanagana', 'city': 'Hyderabad'}
{'country': 'INDIA', 'state': 'Telanagana', 'city': 'Hyderabad'}

In [14]:
def fun(x,y):
    z=x+y
res=fun(10,20)
print(res)

None

In [15]:
d={"name":"jay","age":3,"height":2.8}
for i in d:
    print(i)

name
age
height

In [16]:
d={"name":"jay","age":3,"height":2.8}
for i in d.values():
    print(i)

jay
3
2.8

In [17]:
d={"name":"jay","age":3,"height":2.8}
for i in d.items():
    print(i)

('name', 'jay')
('age', 3)
('height', 2.8)

In [18]:
d={"name":"jay","age":3,"height":2.8}
for k,v in d.items():
    print(k,v)

name jay
age 3
height 2.8

In [19]:
d={"name":"jay","age":3,"height":2.8}
d["cell"] = "9676622023"
print(d)

{'name': 'jay', 'age': 3, 'height': 2.8, 'cell': '9676622023'}

In [20]:
d={"name":"jay","age":3,"height":2.8}
d.update({"cell":"9676622023"})
print(d)

{'name': 'jay', 'age': 3, 'height': 2.8, 'cell': '9676622023'}

In [23]:
d={"name":"jay","age":3,"height":2.8}
d.setdefault("cell","9676622023")
print(d)

{'name': 'jay', 'age': 3, 'height': 2.8, 'cell': '9676622023'}

In [24]:
d={"name":"jay","age":3,"height":2.8}
d["name"] = "9676622023"
print(d)

{'name': '9676622023', 'age': 3, 'height': 2.8}

In [25]:
d={"name":"jay","age":3,"height":2.8}
d.update({"cell":"9676622023","name":"JAYARAM","pan":"sfsdfsdf"})
print(d)

{'name': 'JAYARAM', 'age': 3, 'height': 2.8, 'cell': '9676622023', 'pan': 'sfsdfsdf'}

In [27]:
d={"name":"jay","age":3,"height":2.8}
d.setdefault("name","JAYARAM")
print(d)

{'name': 'jay', 'age': 3, 'height': 2.8}

In [28]:
d={"name":"jay","age":3,"height":2.8}
"name" in d

True

In [29]:
d={"name":"jay","age":3,"height":2.8}
"age" in d

True

In [30]:
d={"name":"jay","age":3,"height":2.8}
"name" in d.keys()

True

In [31]:
d={"name":"jay","age":3,"height":2.8}
"jay" in d

False

In [32]:
d={"name":"jay","age":3,"height":2.8}
"jay" in d.values()

True

In [33]:
d={"name":"jay","age":3,"height":2.8}
("name","jay") in d

False

In [34]:
d={"name":"jay","age":3,"height":2.8}
("name","jay") in d.items()

True

In [35]:
d={"name":"jay","age":3,"height":2.8}
d1 = d.pop("age")
print(d1)
print(d)

3
{'name': 'jay', 'height': 2.8}

In [36]:
d={"name":"jay","age":3,"height":2.8}
d1 = d.popitem()
print(d1)
print(d)

('height', 2.8)
{'name': 'jay', 'age': 3}