In [1]:
print("st1")
print("st2")
print("st3")
print("st4")

st1
st2
st3
st4

In [2]:
# big of two numbers
print("Welcoome")
a=float(input("enter a:"))
b=float(input("enter b:"))
print("a is big")
print("b is big")
print("Thanks")

Welcoome
enter a:12
enter b:34
a is big
b is big
Thanks

In [3]:
# big of two numbers
print("Welcoome")
a=float(input("enter a:"))
b=float(input("enter b:"))
print("a is big")
print("b is big")
print("Thanks")

Welcoome
enter a:12
enter b:10
a is big
b is big
Thanks

In [4]:
a=10
a=20
print(a)

20

In [5]:
print("welcome")
if True:
    print("hello")
else:
    print("hi")
print("thanks")

welcome
hello
thanks

In [6]:
print("welcome")
if False:
    print("hello")
else:
    print("hi")
print("thanks")

welcome
hi
thanks

In [7]:
# big of two numbers
print("Welcoome")
a=float(input("enter a:"))
b=float(input("enter b:"))
print(a>b)
if a>b:
    print("a is big")
else:
    print("b is big")
print("Thanks")

Welcoome
enter a:12
enter b:34
False
b is big
Thanks

In [8]:
# big of two numbers
print("Welcoome")
a=float(input("enter a:"))
b=float(input("enter b:"))
if a>b:
    print("a is big")
else:
    print("b is big")
print("Thanks")

Welcoome
enter a:23
enter b:12
a is big
Thanks

In [9]:
s="A"
s.lower()

'a'

In [10]:
ord("a")

97

In [11]:
chr(97)

'a'

In [12]:
chr(ord("a")-32)

'A'

In [13]:
chr(65)

'A'

In [15]:
chr(ord(input("Enter char:"))-32)

Enter char:q

'Q'

In [1]:
# is it devisible by 2
n=10
print(n%2)
print(n/2)

0
5.0

In [2]:
# is it devisible by 2
n=11
print(n%2)
print(n/2)

1
5.5

In [9]:
n=10
res=n%2
print(res)
if res==0:
    print("divisible by 2")
else:
    print("it is not devisible by 2")

0
divisible by 2

In [10]:
0==0

True

In [7]:
n=11
res=n%2
print(res)
if res==0:
    print("divisible by 2")
else:
    print("it is not devisible by 2")

1
it is not devisible by 2

In [8]:
1==0

False

In [11]:
n=float(input("enter number:"))
res=n%2
if res==0:
    print("it's even number")
else:
    print("it's odd number")

enter number:12
it's even number

In [12]:
n=float(input("enter number:"))
res=n%2
if res==0:
    print("it's even number")
else:
    print("it's odd number")

enter number:13
it's odd number

In [13]:
# take a number from the user check whether it is divisible by 5 or not.

In [16]:
s=input("enter some string:")
print(s)

enter some string:python
python

In [17]:
s=input("enter some string:")
print(s)

enter some string:

In [18]:
s=input("Enter string:")
if len(s)==0:
    print("invalid string")
else:
    print("valid string")

Enter string:python
valid string

In [19]:
s=input("Enter string:")
if len(s)==0:
    print("invalid string")
else:
    print("valid string")

Enter string:
invalid string

In [21]:
s=input("Enter string:")
print(len(s))

Enter string:python
6

In [22]:
s=input("Enter string:")
print(len(s))

Enter string:
0

In [23]:
s=input("Enter string:")
print(len(s))

Enter string:sdf
3

In [24]:
s=input("Enter string:")
print(bool(s))

Enter string:python
True

In [25]:
s=input("Enter string:")
print(bool(s))

Enter string:
False

In [26]:
s=input("Enter string:")
if bool(s):
    print("valid string")
else:
    print("in valid string")

Enter string:python
valid string

In [27]:
s=input("Enter string:")
if bool(s):
    print("valid string")
else:
    print("in valid string")

Enter string:
in valid string

In [28]:
if 10>20:
    print("fdfds")

In [29]:
s=input("Enter string:")
if s:
    print("valid string")
else:
    print("in valid string")

Enter string:
in valid string

In [30]:
s=input("enter:")
print(s==None)

enter:
False

In [31]:
s=""
s==None

False

In [32]:
""==None

False

In [33]:
if -10:
    print("hello")

hello

In [34]:
if 0:
    print("hello")

In [35]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones

In [36]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
print(opt)

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:1
1

In [37]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
print(opt)

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:2
2

In [38]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt==1:
    print("selected hplaptop, cost:30,000")
if opt==2:
    print("selected lenovo laptop, cost:45,000")
if opt==3:
    print("selected desktops, cost:20,000")
if opt==4:
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:1

In [39]:
1==1

True

In [40]:
"1"=="1"

True

In [41]:
1=="1"

False

In [42]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt=="1":
    print("selected hplaptop, cost:30,000")
if opt=="2":
    print("selected lenovo laptop, cost:45,000")
if opt=="3":
    print("selected desktops, cost:20,000")
if opt=="4":
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:1
selected hplaptop, cost:30,000

In [43]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt=="1":
    print("selected hplaptop, cost:30,000")
if opt=="2":
    print("selected lenovo laptop, cost:45,000")
if opt=="3":
    print("selected desktops, cost:20,000")
if opt=="4":
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:2
selected lenovo laptop, cost:45,000

In [44]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt=="1":
    print("selected hplaptop, cost:30,000")
if opt=="2":
    print("selected lenovo laptop, cost:45,000")
if opt=="3":
    print("selected desktops, cost:20,000")
if opt=="4":
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:3
selected desktops, cost:20,000

In [45]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt=="1":
    print("selected hplaptop, cost:30,000")
if opt=="2":
    print("selected lenovo laptop, cost:45,000")
if opt=="3":
    print("selected desktops, cost:20,000")
if opt=="4":
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:4
selected mobilephones, cost:8000

In [46]:
'''
menu:
    1: hplaptop
    2: lenovo laptop
    3: all desktops
    4: mobilephones
'''
# selected hplaptop, cost:30,000
print("menu:\n\t1:hplaptops\n\t2:lenovolaptops\n\t3:all destops\n\t4:mobilephones")
opt=input("enter an option:")
if opt=="1":
    print("selected hplaptop, cost:30,000")
if opt=="2":
    print("selected lenovo laptop, cost:45,000")
if opt=="3":
    print("selected desktops, cost:20,000")
if opt=="4":
    print("selected mobilephones, cost:8000")

menu:
	1:hplaptops
	2:lenovolaptops
	3:all destops
	4:mobilephones
enter an option:5